@charset "UTF-8";

@font-face {
    font-family: 'europa';
    src: url(fonts/europa-regular-webfont.ttf);
}

@font-face {
    font-family: 'eurostile';
    src: url(fonts/eurostile.TTF);
}

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, html{
    background-color: #f9fafb ;
    width: 100vw;
    height: 100vh;
}

main{
    width: 80vw;
    height: 100vh;
    margin: auto;

}


section#login{
    box-shadow: 0px 0px 20px #3e29246c;
    background-color: #81649b;
    width: 80vw;
    height: 540px;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    transition: width 0.3s; height: 0.3s;
    transition-timing-function: ease;

}

section#login > div#img{
    display: block;
    background: white url(img/ballebot.png) no-repeat;

    height: 275px;
    background-size: cover;
    background-position: left top;
}

section#login > div#form{
    display: block;
    padding: 10px;

}

div#form > h1{
    text-align: center;
    font-family: 'eurostile';
    margin-bottom: 15px;
    color: white;
    border-bottom: 1px solid white;
    font-size: 1.7em;

}

div#form > p{
    font-family: 'europa';
    font-size: 1.0em;
    color: white;
}


input#enviar {
    font-family: 'europa';
    font-weight: bold;
    display: block;
    font-size: 1em;
    width: 100%;
    color: black;
    height: 40px;
    background-color: #e043e2;
    border: none;
    border: 1px solid black;
    border-radius: 10px;
    transition: transform 0.2s;
}

input#enviar:hover{
    transform: scale(1.02);
    color: white;
    background-color: #e043e2;
    cursor: pointer;
}

a.but{
    font-family: 'europa';
    font-weight: bold;
    display: block;
    text-decoration: none;
    font-size: 1em;
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: white;
    margin-top: 5px;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding-top: 10px;
    transition: transform 0.2s ease-in-out, color 0.4s ease, background-color 0.4s ease;
}
a.but:hover{
    background-color: #484848;
    color: white;
    transform: scale(1.02);
}
a.but > span{
    font-size: 0.8em
}

form > div.campo1{
    background-color: white;
    width: 100%;
    display: block;
    margin: auto;
    height: 70px;
    border-radius: 15px;
    margin: 5px 0px;
    text-align: center;
}

form label{
    display: none;


}
div.campo1 > input{
    width: 70%;
    height: 23px;
    border: 0.5px solid black;
    border-radius: 5px;
}
::placeholder{
    text-align: center;
}

